*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eaeaea;
}
menu, footer{
    background-color: #625b5b; color: white;
    padding: 20px;
    text-align: center;
}
img{
    width: 100%;
}
ul{
    list-style-type: circle;
    margin-left: 40px;
}
menu>a{
    font-weight: bold;
    background-color: #eaeaea; color: #625b5b;
    padding: 10px; margin: 50px; 
    border-radius: 20px;
}
menu>a:hover{
    background-color: #625b5b; color: #eaeaea;
    border: solid 1px #eaeaea;
}
table{
    border: 1px dashed #625b5b; 
    width: 60%;
    margin-left: 40px;
    text-align: center;
}
.kontrolki{
    margin: 5px;
}